.elementor-4996 .elementor-element.elementor-element-8414fae > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-8414fae:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-8414fae > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-8414fae {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: 1;
}

.elementor-4996 .elementor-element.elementor-element-8414fae > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4996 .elementor-element.elementor-element-58d1cfe.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4996 .elementor-element.elementor-element-58d1cfe.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4996 .elementor-element.elementor-element-58d1cfe.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-4996 .elementor-element.elementor-element-58d1cfe:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4996 .elementor-element.elementor-element-58d1cfe > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-58d1cfe > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-58d1cfe > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-0998465 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4996 .elementor-element.elementor-element-0998465 > .elementor-widget-container {
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4996 .elementor-element.elementor-element-06b6a65 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-06b6a65 img {
    width: 90%;
    max-width: 100%;
    height: 279px;
}

.elementor-4996 .elementor-element.elementor-element-06b6a65 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4996 .elementor-element.elementor-element-6379905 > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-6379905:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-6379905 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-6379905 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-6379905 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4996 .elementor-element.elementor-element-4d3065a > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4996 .elementor-element.elementor-element-c58d00e {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4996 .elementor-element.elementor-element-4e29a11 > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-4e29a11:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-4e29a11 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-4e29a11 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-4e29a11 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-724f54c:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4996 .elementor-element.elementor-element-724f54c > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-724f54c > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-724f54c > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-865dbd7 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-9330bcc {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-9330bcc .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4996 .elementor-element.elementor-element-a9216f7:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4996 .elementor-element.elementor-element-a9216f7 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-a9216f7 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-a9216f7 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-8d280d6 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-1c399a7 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-1c399a7 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4996 .elementor-element.elementor-element-c021ce8 > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-c021ce8:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-c021ce8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-c021ce8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-c021ce8 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-fa2e004 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-d4f750b {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-d4f750b .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4996 .elementor-element.elementor-element-c02018e {
    --spacer-size: 50px;
}

.elementor-4996 .elementor-element.elementor-element-a76ce79 > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-a76ce79:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-a76ce79 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-a76ce79 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-a76ce79 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-0f800ee .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4996 .elementor-element.elementor-element-0f800ee > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4996 .elementor-element.elementor-element-42990f3 > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-42990f3:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-42990f3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-42990f3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-42990f3 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-6e7293b:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4996 .elementor-element.elementor-element-6e7293b > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-6e7293b > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-6e7293b > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-9173e6d {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-abec70b {
    --spacer-size: 10px;
}

.elementor-4996 .elementor-element.elementor-element-b6ad22d {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-acc67d5 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-3b4c790 {
    color: #848484;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 22px;
    width: var( --container-widget-width, 55.5% );
    max-width: 55.5%;
    --container-widget-width: 55.5%;
    --container-widget-flex-grow: 0;
}

.elementor-4996 .elementor-element.elementor-element-077cd52 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-077cd52 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4996 .elementor-element.elementor-element-d809754 {
    --spacer-size: 10px;
}

.elementor-4996 .elementor-element.elementor-element-b2880f1 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-09917dd {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-9a60c17 {
    color: #848484;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 19px;
    font-weight: 400;
    text-transform: none;
    font-style: normal;
    line-height: 22px;
    width: var( --container-widget-width, 55.5% );
    max-width: 55.5%;
    --container-widget-width: 55.5%;
    --container-widget-flex-grow: 0;
}

.elementor-4996 .elementor-element.elementor-element-ed04df1 {
    --spacer-size: 10px;
}

.elementor-4996 .elementor-element.elementor-element-b55ac90 > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-b55ac90:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-b55ac90 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-b55ac90 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-b55ac90 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-7776aaa .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4996 .elementor-element.elementor-element-7776aaa > .elementor-widget-container {
    margin: 0px 10px 0px 0px;
    padding: 10px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4996 .elementor-element.elementor-element-cbbe508 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-cbbe508 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4996 .elementor-element.elementor-element-f0f9089 {
    --spacer-size: 50px;
}

.elementor-4996 .elementor-element.elementor-element-cd4ae18 > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-cd4ae18:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-cd4ae18 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-cd4ae18 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-cd4ae18 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-b6d80d4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4996 .elementor-element.elementor-element-b6d80d4 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4996 .elementor-element.elementor-element-a4d287b .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4996 .elementor-element.elementor-element-a4d287b > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4996 .elementor-element.elementor-element-0635f95 {
    text-align: left;
}

.elementor-4996 .elementor-element.elementor-element-0635f95 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4996 .elementor-element.elementor-element-7e9ed8c4:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-7e9ed8c4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-7e9ed8c4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-7e9ed8c4 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-18a68da7 {
    --spacer-size: 50px;
}

.elementor-4996 .elementor-element.elementor-element-30f65394:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-30f65394 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-30f65394 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-30f65394 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-372c81e .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-4996 .elementor-element.elementor-element-372c81e .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-4996 .elementor-element.elementor-element-372c81e .elementor-button {
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 10px;
    letter-spacing: 0.92px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #58B6D3;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px;
}

.elementor-4996 .elementor-element.elementor-element-95985bb > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-95985bb:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-95985bb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-95985bb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-95985bb > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-b5f84a1 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4996 .elementor-element.elementor-element-70c9e01 {
    --spacer-size: 50px;
}

.elementor-4996 .elementor-element.elementor-element-7ac79f07 > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-7ac79f07:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-7ac79f07 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-7ac79f07 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-7ac79f07 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4996 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4996 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4996 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 00px 1px 1px;
    border-color: #D3D3D3A6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4996 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated, .elementor-4996 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated > .elementor-background-overlay, .elementor-4996 .elementor-element.elementor-element-7783ba97 > .elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-4996 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-4996 .elementor-element.elementor-element-6280f1b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4996 .elementor-element.elementor-element-6280f1b.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4996 .elementor-element.elementor-element-6280f1b > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-color: #D3D3D3A6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-6280f1b > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
    color: #01B8D4;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4996 .elementor-element.elementor-element-efa1045 > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.elementor-4996 .elementor-element.elementor-element-9447dba > .elementor-container {
    max-width: 1100px;
}

.elementor-4996 .elementor-element.elementor-element-9447dba:not(.elementor-motion-effects-element-type-background), .elementor-4996 .elementor-element.elementor-element-9447dba > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4996 .elementor-element.elementor-element-9447dba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-9447dba > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4996 .elementor-element.elementor-element-1acbb47 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4996 .elementor-element.elementor-element-2fcdf14 {
    --spacer-size: 50px;
}

@media(max-width: 1024px) {
    .elementor-4996 .elementor-element.elementor-element-0998465 .elementor-heading-title {
        font-size:25px;
    }

    .elementor-4996 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4996 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4996 .elementor-element.elementor-element-9330bcc .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4996 .elementor-element.elementor-element-1c399a7 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4996 .elementor-element.elementor-element-d4f750b .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4996 .elementor-element.elementor-element-0f800ee .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4996 .elementor-element.elementor-element-3b4c790 {
        font-size: 15px;
        line-height: 21px;
    }

    .elementor-4996 .elementor-element.elementor-element-077cd52 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4996 .elementor-element.elementor-element-9a60c17 {
        font-size: 15px;
        line-height: 21px;
    }

    .elementor-4996 .elementor-element.elementor-element-7776aaa .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4996 .elementor-element.elementor-element-cbbe508 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4996 .elementor-element.elementor-element-a4d287b .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4996 .elementor-element.elementor-element-0635f95 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-bc-flex-widget .elementor-4996 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-4996 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-4996 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
        margin: 3px 0px 0px 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
        font-size: 15px;
    }
}

@media(max-width: 767px) {
    .elementor-4996 .elementor-element.elementor-element-8414fae {
        margin-top:0px;
        margin-bottom: 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-0998465 .elementor-heading-title {
        font-size: 20px;
        line-height: 40px;
    }

    .elementor-4996 .elementor-element.elementor-element-0998465 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-06b6a65 img {
        width: 100%;
        height: 110px;
    }

    .elementor-4996 .elementor-element.elementor-element-06b6a65 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4996 .elementor-element.elementor-element-4d3065a > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4996 .elementor-element.elementor-element-9330bcc .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4996 .elementor-element.elementor-element-1c399a7 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4996 .elementor-element.elementor-element-d4f750b .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4996 .elementor-element.elementor-element-c02018e {
        --spacer-size: 30px;
    }

    .elementor-4996 .elementor-element.elementor-element-0f800ee .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4996 .elementor-element.elementor-element-0f800ee > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-3b4c790 {
        font-size: 14px;
        line-height: 20px;
        --container-widget-width: 289px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 289px );
        max-width: 289px;
    }

    .elementor-4996 .elementor-element.elementor-element-077cd52 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4996 .elementor-element.elementor-element-9a60c17 {
        font-size: 14px;
        line-height: 20px;
        --container-widget-width: 334px;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 334px );
        max-width: 334px;
    }

    .elementor-4996 .elementor-element.elementor-element-7776aaa .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4996 .elementor-element.elementor-element-7776aaa > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-cbbe508 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4996 .elementor-element.elementor-element-a4d287b .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4996 .elementor-element.elementor-element-a4d287b > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-0635f95 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4996 .elementor-element.elementor-element-7783ba97 {
        width: 15%;
    }

    .elementor-bc-flex-widget .elementor-4996 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-4996 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-4996 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
        margin: -4px 0px 0px 0px;
    }

    .elementor-4996 .elementor-element.elementor-element-6280f1b {
        width: 85%;
    }

    .elementor-4996 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4996 .elementor-element.elementor-element-efa1045 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width: 768px) {
    .elementor-4996 .elementor-element.elementor-element-724f54c {
        width:50%;
    }

    .elementor-4996 .elementor-element.elementor-element-a9216f7 {
        width: 50%;
    }

    .elementor-4996 .elementor-element.elementor-element-7783ba97 {
        width: 4.112%;
    }

    .elementor-4996 .elementor-element.elementor-element-6280f1b {
        width: 95.888%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-4996 .elementor-element.elementor-element-7783ba97 {
        width:6%;
    }

    .elementor-4996 .elementor-element.elementor-element-6280f1b {
        width: 94%;
    }
}
