.elementor-4493 .elementor-element.elementor-element-6379905 > .elementor-container {
    max-width: 1100px;
}

.elementor-4493 .elementor-element.elementor-element-6379905:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-6379905 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-6379905 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-4493 .elementor-element.elementor-element-6379905 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-fb4a5da > .elementor-element-populated {
    margin: 50px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-4493 .elementor-element.elementor-element-4d3065a > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4493 .elementor-element.elementor-element-c58d00e {
    text-align: left;
}

.elementor-4493 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4493 .elementor-element.elementor-element-8c2b344 > .elementor-container {
    max-width: 1100px;
}

.elementor-4493 .elementor-element.elementor-element-8c2b344:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-8c2b344 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-8c2b344 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-8c2b344 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-0eff6ee > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4493 .elementor-element.elementor-element-0eff6ee > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-f810ccf .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4493 .elementor-element.elementor-element-f810ccf > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4493 .elementor-element.elementor-element-a3d5d70 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.elementor-4493 .elementor-element.elementor-element-a3d5d70 > .elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-4493 .elementor-element.elementor-element-062db87 {
    text-align: left;
}

.elementor-4493 .elementor-element.elementor-element-062db87 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4493 .elementor-element.elementor-element-3c5c3e3 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.elementor-4493 .elementor-element.elementor-element-3c5c3e3 > .elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-4493 .elementor-element.elementor-element-c331ec5 {
    --spacer-size: 10px;
}

.elementor-4493 .elementor-element.elementor-element-eb27eb8 > .elementor-container {
    max-width: 1100px;
}

.elementor-4493 .elementor-element.elementor-element-eb27eb8:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-eb27eb8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-eb27eb8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-eb27eb8 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-90712d0 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4493 .elementor-element.elementor-element-90712d0 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-15d756d .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4493 .elementor-element.elementor-element-15d756d > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4493 .elementor-element.elementor-element-1634392 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.elementor-4493 .elementor-element.elementor-element-1634392 > .elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-4493 .elementor-element.elementor-element-67717b5 {
    text-align: left;
}

.elementor-4493 .elementor-element.elementor-element-67717b5 > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
}

.elementor-4493 .elementor-element.elementor-element-cea0f1c .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.elementor-4493 .elementor-element.elementor-element-cea0f1c > .elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-4493 .elementor-element.elementor-element-bb2f4e2 {
    --spacer-size: 10px;
}

.elementor-4493 .elementor-element.elementor-element-2ee67aa > .elementor-container {
    max-width: 1100px;
}

.elementor-4493 .elementor-element.elementor-element-2ee67aa:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-2ee67aa > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-2ee67aa {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-2ee67aa > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-ac1e741 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4493 .elementor-element.elementor-element-ac1e741 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-b7f137b .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4493 .elementor-element.elementor-element-b7f137b > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4493 .elementor-element.elementor-element-97f29cd > .elementor-container {
    max-width: 1100px;
}

.elementor-4493 .elementor-element.elementor-element-97f29cd:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-97f29cd > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-97f29cd {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-97f29cd > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-c863054 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4493 .elementor-element.elementor-element-c863054 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-248c2b3 {
    text-align: left;
}

.elementor-4493 .elementor-element.elementor-element-248c2b3 img {
    width: 100%;
    height: 125px;
}

.elementor-4493 .elementor-element.elementor-element-6174e2f {
    --spacer-size: 10px;
}

.elementor-bc-flex-widget .elementor-4493 .elementor-element.elementor-element-daff583.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4493 .elementor-element.elementor-element-daff583.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4493 .elementor-element.elementor-element-daff583 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4493 .elementor-element.elementor-element-daff583 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-c94b496 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.elementor-4493 .elementor-element.elementor-element-c94b496 > .elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-4493 .elementor-element.elementor-element-7225468 {
    --spacer-size: 10px;
}

.elementor-4493 .elementor-element.elementor-element-7e9ed8c4:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-7e9ed8c4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-7e9ed8c4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-7e9ed8c4 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-18a68da7 {
    --spacer-size: 50px;
}

.elementor-4493 .elementor-element.elementor-element-30f65394:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-30f65394 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-30f65394 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-30f65394 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-3aeb278 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-3aeb278 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-4493 .elementor-element.elementor-element-3aeb278 .elementor-button {
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 10px;
    letter-spacing: 0.92px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    background-color: #58B6D3;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px;
}

.elementor-4493 .elementor-element.elementor-element-95985bb > .elementor-container {
    max-width: 1100px;
}

.elementor-4493 .elementor-element.elementor-element-95985bb:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-95985bb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-95985bb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-95985bb > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-b5f84a1 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-70c9e01 {
    --spacer-size: 50px;
}

.elementor-4493 .elementor-element.elementor-element-7ac79f07 > .elementor-container {
    max-width: 1100px;
}

.elementor-4493 .elementor-element.elementor-element-7ac79f07:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-7ac79f07 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-7ac79f07 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-7ac79f07 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4493 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4493 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4493 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 00px 1px 1px;
    border-color: #D3D3D3A6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated, .elementor-4493 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated > .elementor-background-overlay, .elementor-4493 .elementor-element.elementor-element-7783ba97 > .elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-4493 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-4493 .elementor-element.elementor-element-6280f1b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4493 .elementor-element.elementor-element-6280f1b.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4493 .elementor-element.elementor-element-6280f1b > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-color: #D3D3D3A6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-6280f1b > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
    color: #01B8D4;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4493 .elementor-element.elementor-element-efa1045 > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.elementor-4493 .elementor-element.elementor-element-9447dba > .elementor-container {
    max-width: 1100px;
}

.elementor-4493 .elementor-element.elementor-element-9447dba:not(.elementor-motion-effects-element-type-background), .elementor-4493 .elementor-element.elementor-element-9447dba > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4493 .elementor-element.elementor-element-9447dba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-9447dba > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4493 .elementor-element.elementor-element-1acbb47 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4493 .elementor-element.elementor-element-2fcdf14 {
    --spacer-size: 50px;
}

@media(max-width: 1024px) {
    .elementor-4493 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
        font-size:30px;
    }

    .elementor-4493 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4493 .elementor-element.elementor-element-f810ccf .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4493 .elementor-element.elementor-element-a3d5d70 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4493 .elementor-element.elementor-element-3c5c3e3 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4493 .elementor-element.elementor-element-15d756d .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4493 .elementor-element.elementor-element-1634392 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4493 .elementor-element.elementor-element-cea0f1c .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4493 .elementor-element.elementor-element-b7f137b .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4493 .elementor-element.elementor-element-c94b496 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-bc-flex-widget .elementor-4493 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-4493 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-4493 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
        margin: 3px 0px 0px 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
        font-size: 15px;
    }
}

@media(max-width: 767px) {
    .elementor-4493 .elementor-element.elementor-element-6379905 {
        margin-top:0px;
        margin-bottom: 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
        font-size: 20px;
        line-height: 40px;
    }

    .elementor-4493 .elementor-element.elementor-element-4d3065a > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4493 .elementor-element.elementor-element-f810ccf .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4493 .elementor-element.elementor-element-f810ccf > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-a3d5d70 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4493 .elementor-element.elementor-element-3c5c3e3 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4493 .elementor-element.elementor-element-15d756d .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4493 .elementor-element.elementor-element-15d756d > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-1634392 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4493 .elementor-element.elementor-element-cea0f1c .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4493 .elementor-element.elementor-element-b7f137b .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4493 .elementor-element.elementor-element-b7f137b > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-248c2b3 img {
        width: 60%;
        height: 125px;
    }

    .elementor-4493 .elementor-element.elementor-element-c94b496 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4493 .elementor-element.elementor-element-7783ba97 {
        width: 15%;
    }

    .elementor-bc-flex-widget .elementor-4493 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-4493 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-4493 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
        margin: -4px 0px 0px 0px;
    }

    .elementor-4493 .elementor-element.elementor-element-6280f1b {
        width: 85%;
    }

    .elementor-4493 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4493 .elementor-element.elementor-element-efa1045 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width: 768px) {
    .elementor-4493 .elementor-element.elementor-element-c863054 {
        width:20.361%;
    }

    .elementor-4493 .elementor-element.elementor-element-daff583 {
        width: 79.639%;
    }

    .elementor-4493 .elementor-element.elementor-element-7783ba97 {
        width: 4.112%;
    }

    .elementor-4493 .elementor-element.elementor-element-6280f1b {
        width: 95.888%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-4493 .elementor-element.elementor-element-7783ba97 {
        width:6%;
    }

    .elementor-4493 .elementor-element.elementor-element-6280f1b {
        width: 94%;
    }
}

.elementor-4969 .elementor-element.elementor-element-8414fae > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-8414fae:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-8414fae > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-8414fae {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
}

.elementor-4969 .elementor-element.elementor-element-8414fae > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4969 .elementor-element.elementor-element-58d1cfe.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-58d1cfe.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-58d1cfe.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-4969 .elementor-element.elementor-element-58d1cfe:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4969 .elementor-element.elementor-element-58d1cfe > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-58d1cfe > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 050px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4969 .elementor-element.elementor-element-58d1cfe > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-d876a73 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 30px;
    font-weight: 500;
    text-transform: uppercase;
}

.elementor-4969 .elementor-element.elementor-element-d876a73 > .elementor-widget-container {
    margin: 0px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4969 .elementor-element.elementor-element-06b6a65 {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-675b47e {
    text-align: center;
}

.elementor-4969 .elementor-element.elementor-element-675b47e .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 30px;
}

.elementor-4969 .elementor-element.elementor-element-675b47e > .elementor-widget-container {
    margin: 16px 0px 0px 0px;
}

.elementor-4969 .elementor-element.elementor-element-6379905 > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-6379905:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-6379905 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-6379905 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-6379905 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4969 .elementor-element.elementor-element-4d3065a > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4969 .elementor-element.elementor-element-c58d00e {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4969 .elementor-element.elementor-element-42990f3 > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-42990f3:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-42990f3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-42990f3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-42990f3 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-6e7293b:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4969 .elementor-element.elementor-element-6e7293b > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-6e7293b > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-6e7293b > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-9173e6d {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-3e3e6cb:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4969 .elementor-element.elementor-element-3e3e6cb > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-3e3e6cb > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-3e3e6cb > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-c86d9ef {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-c021ce8 > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-c021ce8:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-c021ce8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-c021ce8 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-c021ce8 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-c02018e {
    --spacer-size: 50px;
}

.elementor-4969 .elementor-element.elementor-element-cd4ae18 > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-cd4ae18:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-cd4ae18 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-cd4ae18 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-cd4ae18 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-b6d80d4 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4969 .elementor-element.elementor-element-b6d80d4 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4969 .elementor-element.elementor-element-a4d287b .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4969 .elementor-element.elementor-element-a4d287b > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4969 .elementor-element.elementor-element-0635f95 {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-0635f95 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4969 .elementor-element.elementor-element-fa2e004 {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-9a7dd30 > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-9a7dd30:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-9a7dd30 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-9a7dd30 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-9a7dd30 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4969 .elementor-element.elementor-element-71a7c2d.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-71a7c2d.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-71a7c2d.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-4969 .elementor-element.elementor-element-71a7c2d:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4969 .elementor-element.elementor-element-71a7c2d > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-71a7c2d > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-71a7c2d > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4969 .elementor-element.elementor-element-8a22983.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-8a22983.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-8a22983.elementor-column > .elementor-widget-wrap {
    justify-content: center;
}

.elementor-4969 .elementor-element.elementor-element-8a22983:not(.elementor-motion-effects-element-type-background) > .elementor-widget-wrap, .elementor-4969 .elementor-element.elementor-element-8a22983 > .elementor-widget-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-8a22983 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-8a22983 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-d83a49e {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-16567eb > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-16567eb:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-16567eb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-16567eb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-16567eb > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-fcf9e13 {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-cb13755 {
    --spacer-size: 50px;
}

.elementor-4969 .elementor-element.elementor-element-e5d3bc3 > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-e5d3bc3:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-e5d3bc3 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-e5d3bc3 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-e5d3bc3 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-6de9e03 > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-4969 .elementor-element.elementor-element-6de9e03 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4969 .elementor-element.elementor-element-be9ace6 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4969 .elementor-element.elementor-element-be9ace6 > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #C8C8C887;
}

.elementor-4969 .elementor-element.elementor-element-abadd72 {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-e686846 {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-e686846 .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4969 .elementor-element.elementor-element-6feae3b {
    --spacer-size: 50px;
}

.elementor-4969 .elementor-element.elementor-element-7e9ed8c4 > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-7e9ed8c4:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-7e9ed8c4 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-7e9ed8c4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-7e9ed8c4 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-fe9c4be {
    text-align: left;
}

.elementor-4969 .elementor-element.elementor-element-93b2b4b {
    text-align: center;
    width: var( --container-widget-width, 57.983% );
    max-width: 57.983%;
    --container-widget-width: 57.983%;
    --container-widget-flex-grow: 0;
}

.elementor-4969 .elementor-element.elementor-element-93b2b4b .elementor-heading-title {
    color: #000000;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26px;
}

.elementor-4969 .elementor-element.elementor-element-18a68da7 {
    --spacer-size: 50px;
}

.elementor-4969 .elementor-element.elementor-element-30f65394:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-30f65394 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-30f65394 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-30f65394 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-64592f1 .elementor-button .elementor-align-icon-right {
    margin-left: 0px;
}

.elementor-4969 .elementor-element.elementor-element-64592f1 .elementor-button .elementor-align-icon-left {
    margin-right: 0px;
}

.elementor-4969 .elementor-element.elementor-element-64592f1 .elementor-button {
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 10px;
    letter-spacing: 0.92px;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    background-color: #58B6D3;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 25px 25px 25px;
}

.elementor-4969 .elementor-element.elementor-element-95985bb > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-95985bb:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-95985bb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-95985bb {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-95985bb > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-b5f84a1 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4969 .elementor-element.elementor-element-70c9e01 {
    --spacer-size: 50px;
}

.elementor-4969 .elementor-element.elementor-element-7ac79f07 > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-7ac79f07:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-7ac79f07 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-7ac79f07 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-7ac79f07 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-4969 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 00px 1px 1px;
    border-color: #D3D3D3A6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4969 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated, .elementor-4969 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated > .elementor-background-overlay, .elementor-4969 .elementor-element.elementor-element-7783ba97 > .elementor-background-slideshow {
    border-radius: 0px 0px 0px 0px;
}

.elementor-4969 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-4969 .elementor-element.elementor-element-6280f1b.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-6280f1b.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-4969 .elementor-element.elementor-element-6280f1b > .elementor-element-populated {
    border-style: solid;
    border-width: 1px 1px 1px 0px;
    border-color: #D3D3D3A6;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-6280f1b > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
    color: #01B8D4;
    font-family: "Noto Sans KR", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.elementor-4969 .elementor-element.elementor-element-efa1045 > .elementor-widget-container {
    margin: 0px 10px 10px 0px;
    padding: 10px 0px 10px 0px;
}

.elementor-4969 .elementor-element.elementor-element-9447dba > .elementor-container {
    max-width: 1100px;
}

.elementor-4969 .elementor-element.elementor-element-9447dba:not(.elementor-motion-effects-element-type-background), .elementor-4969 .elementor-element.elementor-element-9447dba > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-4969 .elementor-element.elementor-element-9447dba {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-9447dba > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-4969 .elementor-element.elementor-element-1acbb47 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
}

.elementor-4969 .elementor-element.elementor-element-2fcdf14 {
    --spacer-size: 50px;
}

@media(max-width: 1024px) {
    .elementor-4969 .elementor-element.elementor-element-d876a73 .elementor-heading-title {
        font-size:25px;
    }

    .elementor-4969 .elementor-element.elementor-element-675b47e .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4969 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4969 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4969 .elementor-element.elementor-element-a4d287b .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4969 .elementor-element.elementor-element-0635f95 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4969 .elementor-element.elementor-element-be9ace6 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-4969 .elementor-element.elementor-element-e686846 .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-4969 .elementor-element.elementor-element-93b2b4b .elementor-heading-title {
        font-size: 15px;
    }

    .elementor-bc-flex-widget .elementor-4969 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-4969 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-4969 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
        margin: 3px 0px 0px 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
        font-size: 15px;
    }
}

@media(max-width: 767px) {
    .elementor-4969 .elementor-element.elementor-element-8414fae {
        margin-top:0px;
        margin-bottom: 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-d876a73 .elementor-heading-title {
        font-size: 20px;
        line-height: 40px;
    }

    .elementor-4969 .elementor-element.elementor-element-d876a73 > .elementor-widget-container {
        padding: 0px 0px 0px 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-675b47e .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4969 .elementor-element.elementor-element-6379905 {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-4d3065a .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4969 .elementor-element.elementor-element-4d3065a > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-c58d00e .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4969 .elementor-element.elementor-element-c02018e {
        --spacer-size: 30px;
    }

    .elementor-4969 .elementor-element.elementor-element-a4d287b .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4969 .elementor-element.elementor-element-a4d287b > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-0635f95 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4969 .elementor-element.elementor-element-110bc2d {
        text-align: left;
    }

    .elementor-4969 .elementor-element.elementor-element-cb13755 {
        --spacer-size: 30px;
    }

    .elementor-4969 .elementor-element.elementor-element-be9ace6 .elementor-heading-title {
        font-size: 15px;
        line-height: 40px;
    }

    .elementor-4969 .elementor-element.elementor-element-be9ace6 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        border-width: 0px 0px 0px 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-e686846 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4969 .elementor-element.elementor-element-6feae3b {
        --spacer-size: 30px;
    }

    .elementor-4969 .elementor-element.elementor-element-93b2b4b .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4969 .elementor-element.elementor-element-93b2b4b {
        width: 100%;
        max-width: 100%;
    }

    .elementor-4969 .elementor-element.elementor-element-7783ba97 {
        width: 15%;
    }

    .elementor-bc-flex-widget .elementor-4969 .elementor-element.elementor-element-7783ba97.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-4969 .elementor-element.elementor-element-7783ba97.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-4969 .elementor-element.elementor-element-7783ba97 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-97c42a1 > .elementor-widget-container {
        margin: -4px 0px 0px 0px;
    }

    .elementor-4969 .elementor-element.elementor-element-6280f1b {
        width: 85%;
    }

    .elementor-4969 .elementor-element.elementor-element-efa1045 .elementor-heading-title {
        font-size: 12px;
        line-height: 20px;
    }

    .elementor-4969 .elementor-element.elementor-element-efa1045 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media(min-width: 768px) {
    .elementor-4969 .elementor-element.elementor-element-6e7293b {
        width:38.091%;
    }

    .elementor-4969 .elementor-element.elementor-element-3e3e6cb {
        width: 61.909%;
    }

    .elementor-4969 .elementor-element.elementor-element-71a7c2d {
        width: 38.545%;
    }

    .elementor-4969 .elementor-element.elementor-element-8a22983 {
        width: 61.455%;
    }

    .elementor-4969 .elementor-element.elementor-element-7783ba97 {
        width: 4.112%;
    }

    .elementor-4969 .elementor-element.elementor-element-6280f1b {
        width: 95.888%;
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-4969 .elementor-element.elementor-element-7783ba97 {
        width:6%;
    }

    .elementor-4969 .elementor-element.elementor-element-6280f1b {
        width: 94%;
    }
}
